/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/** @format */

@media (max-width: 414px) {
	#intro {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		min-height: 550px;
	}
	#sign-in .inner {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-pack: start;
		    -ms-flex-pack: start;
		        justify-content: start;
	}
	.form-control {
		width: 230px;
	}
	#sign-in .customer-care {
		-ms-flex-item-align: start;
		    align-self: flex-start;
	}
	#footer ul {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	#footer ul li {
		border-right: none;
  }
  #showcase h1 {
    font-size: 1.6rem;
  }
  #showcase ul li a {
    text-align: center;
  }
  #showcase ul {
    width: 100%;
    -webkit-box-flex: 5;
        -ms-flex: 5;
            flex: 5;
  }
}