/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/


/** @format */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

/* reset */

* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: "Roboto", sans-serif;
	line-height: 1.7;
	text-transform: uppercase;
	overflow-x: hidden;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
a:hover {
	text-decoration: none;
}
.container {
	max-width: 1200px;
	margin: auto;
}
#showcase {
	background: url("../images/show-case.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100vw;
	height: 100vh;
	position: relative;
	padding: 2rem;
}
#showcase h1 {
	font-size: 3rem;
	color: #fff;
}
#showcase .inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	height: 100vh;
}
#showcase ul li a {
	color: #fff;
	line-height: 2.7;
	display: inline-block;
	width: 120px;
}
#showcase ul li a:hover {
	border-bottom: 2px solid #999;
}
.light-overlay {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	top: 0;
	height: 100%;
	left: 0;
}
#intro article {
	position: relative;
	text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	color: #fff;
}
#intro {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	min-height: 450px;
	font-size: 2rem;
}
#intro article:first-child {
	background: url("../images/intro-1.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
}
#intro article:last-child {
	background: url("../images/intro-2.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
}
.dark-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	padding-top: 25%;
}
#intro article h3 span {
	font-size: 0.9rem;
}
#photos .title {
	text-align: center;
	padding: 1.5rem;
}
#photos .albumn img {
	width: 20%;
	display: block;
	margin: 0;
	-webkit-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	transition: 0.5s all ease;
}
#photos .albumn img:hover {
	border: 2px solid blueviolet;
	cursor: pointer;
	-webkit-transform: scale(1.02);
	    -ms-transform: scale(1.02);
	        transform: scale(1.02);
}
#photos .albumn {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
#sign-in {
	padding: 2.5rem;
}
#sign-in .inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

#sign-in .customer-care {
	text-transform: capitalize;
}
#sign-in .customer-care a {
	color: #333;
}
.form-inline {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 1rem 0;
}
.form-control {
	height: 100%;
	margin-right: 0.4rem;
	border: 1px solid #888;
	border-radius: 3px;
  width: 300px;
  padding: 0 5px;
  font-size: 1.2rem;
}
.btn.btn-dark {
	background-color: #353535;
	color: #f2f2f2;
	padding: 10px 18px;
	border-radius: 3px;
	cursor: pointer;
	border: none;
}
#sign-in .social-connections a {
	display: inline-block;
	margin: 0 1rem;
	font-size: 1.7rem;
	text-align: center;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
	color: #353535;
}
#sign-in .social-connections a:hover {
	color: blueviolet;
}
#footer {
	text-transform: capitalize;
	text-align: center;
	padding: 1.5rem;
}
#footer ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	max-width: 1000px;
	margin: auto;
  font-size: smaller;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  line-height: 1.9;
}
#footer ul li {
	padding: 0 0.5rem;
	border-right: 2px solid #555;
}
#footer ul li:last-child {
	border-right: transparent;
}